/* 
    Document   : main
    Created on : 4 sept. 2013, 20:11:13
    Author     : Julien
    Description:
        Purpose of the stylesheet follows.
*/

.step h1{
    font-size: 3em; 
}

.step h2{
    font-size: 1.5em; 
}

