/* 
    Document   : main
    Created on : 4 sept. 2013, 20:11:13
    Author     : Julien
    Description:
        Purpose of the stylesheet follows.
*/

h1{
    font-size: 2.8em;
	font-family: 'Droid Serif', serif;
}

h2{
    font-size: 1.6em; 
}

img{
	margin: 0 auto;
	display:block;
	max-width:750px;
}

.logo{
	margin-bottom:80px;
}

#Titre{
	text-align:center;
}

small{
	font-size:60%;
}

